---
- name: Create `crep` table if not exists
  community.mysql.mysql_query:
    login_db: "{{ keybase_secrets.mysql.database }}"
    login_user: "{{ keybase_secrets.mysql.user }}"
    login_password: "{{ keybase_secrets.mysql.password }}"
    query: CREATE TABLE IF NOT EXISTS `crep` (
        `id` int NOT NULL,
        `exam_name` varchar(64) NOT NULL,
        `exam_code` varchar(24) NOT NULL,
        `exam_pages` int NOT NULL,
        `exam_students` int NOT NULL,
        `status` varchar(32) NOT NULL DEFAULT 'registered',
        `print_date` datetime NOT NULL,
        `remark` mediumtext,
        `repro_remark` mediumtext,
        `exam_date` date NOT NULL,
        `paper_format` varchar(2) NOT NULL,
        `paper_color` varchar(10) NOT NULL,
        `contact` varchar(256) NOT NULL,
        `authorized_persons` MEDIUMTEXT NOT NULL,
        `registered_by` varchar(256) NOT NULL,
        `need_scan` BOOLEAN NOT NULL
      ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

- name: Alter table `crep` add primary key
  community.mysql.mysql_query:
    login_db: "{{ keybase_secrets.mysql.database }}"
    login_user: "{{ keybase_secrets.mysql.user }}"
    login_password: "{{ keybase_secrets.mysql.password }}"
    query: ALTER TABLE `crep` ADD PRIMARY KEY (`id`);
  ignore_errors: true # Will fail if already done, so we can ignore the error

- name: Alter table `crep` modify not null auto increment
  community.mysql.mysql_query:
    login_db: "{{ keybase_secrets.mysql.database }}"
    login_user: "{{ keybase_secrets.mysql.user }}"
    login_password: "{{ keybase_secrets.mysql.password }}"
    query: ALTER TABLE `crep` MODIFY `id` int NOT NULL AUTO_INCREMENT;
  ignore_errors: true